#root {
  width: 1280px;
  max-width: 1280px;
  text-align: center;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: end;
}

.create-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 1em;
  border: 1px solid;
  margin: 0 auto;
}

.select-values {
  display: flex; 
  align-items: center; 
  flex-wrap: wrap;
}

.select-values * {
  margin: 0;
}

.select-values div {
  display: flex;
  border: 1px solid white; 
  padding: 1px 5px; 
  margin: 1px;
  position: relative;
}

.deselect-value-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  top: -11px;
  right: -12px;
  background-color: white;
  color: #242424;
  opacity: 0;
}

.select-values:hover .deselect-value-btn {
  opacity: 1;
}

.noti-modal {
  max-width: 300px;
  min-width: 100px;
  position: absolute;
  right: 45%;
  border: 2px solid;
  padding: 0 1em;
  border-radius: 5px;
  color: #FFF;

  animation: showUp 3s alternate forwards;
}

.noti-modal * {
  margin: 0;
}

.noti-modal h5 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: end;
  position: absolute;
  top: -12px;
  right: -12px;
  color: #242424;
  background-color: red;
  border-radius: 100%;
  border: 3px solid #242424;
  text-align: center;
}

@keyframes showUp {
  0% {
    bottom: -100%;
  }

  75% {
    bottom: 5%;
  }

  100% {
    bottom: 5%;
  }
}

.overlay {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2525258f;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}