#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
}

.d-flex {
  display: flex;
}

.center-x {
  align-items: center;
}

.center-y {
  justify-content: center;
}

.arrow::after {
  content: "";
  top: -6px;
  left: 4%;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--black);
}

.image-container {
  width: 180px;
  height: 180px;
  background-color: var(--violet);
}

.create-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  /* padding: 1em;
  border: 1px solid;
  margin: 0 auto; */
  color: var(--black);
}

.create-form button {
  color: var(--white);
}
