#root {
  width: 1280px;
  max-width: 1280px;
  text-align: center;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: end;
}

.create-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 1em;
  border: 1px solid;
  margin: 0 auto;
}